//Kontakt




.container-form{

  width: 100%;
  margin: 30px auto;
  padding:30px;
  display: flex;
  flex-direction: column;

 

  .text-form-wrapper{
    
    border: 1px solid yellow;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .contact-title{
      
      p{
        font-size: 2rem;
      text-align: center;
      }
    }
    

    img{
        width:70%;
        max-width: 400px;
        border-radius: 100px;
        
    }
   

    .content-text{
      padding: 10px 20px;
      max-width: 600px;
     
      p{

      
        .bold{
          font-size: 1.2rem;
          font-family: sans-serif;
        }
      }
    }
  }


.contact-form {
  
  background-color: rgb(254,204,1);
  border-radius: 10px;
  
  width: 80%;
  max-width: 400px;
  padding: 30px;
  text-align: center;
  margin-top:20px;
}

.contact-form h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}

.form-group textarea {
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: $color-1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: $color-2;
}
}

@media screen and (min-width: 768px) {
  .container-form{
    flex-direction: row;
    border: 1px solid red;
    

    .text-form-wrapper{
      
      width: 100%;
      img{
        max-width:200px;
      }
      .content-text{
        max-width: 200px;
      }
    }
   
  .contact-form {
      width: 50%;
      
  }
}
}