
@import "./variables";
@import "./navbar";
@import "./kontakt-style";
@import "./refrenser-style";
@import "./om-oss-style";






//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
  font-family: 'Barlow', sans-serif;
}

.header{
  overflow: hidden;
   background-image:url(./images/pexels-jakub-zerdzicki-18538670.jpg) ;
   background-repeat: no-repeat;
   background-size:cover;
   background-position:30%;
   height:100vh;
   width: 100%;

   
.content-nav {
  padding: 10px 20px;
  background-color:$color-1;
  display: flex;
  justify-content:space-between;
  .logo {   
   @include button-Style();
  }
  .toggler {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 50px;
    
   button{
    background-color: transparent;
    border: none;
    
@include button-Style()
   }
  }
}

nav {
  
  width: 100%;
  display: none;

  ul {
    list-style: none;
 
  li {
    .active {
      color: $color-3;
      text-align: center;
    }
  
  a {
    margin-left: 70px;
    text-decoration: none;
    color:$font-color-2;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    
    transition: 0.3s ease-out;
  }
}

  &:hover{
    :hover {
      color:#000000;
    }
  }
}
}

    h1{
      color: $font-color-2;
      position: absolute;
      margin-top:60px;
      margin-left: 23px;
      font-size:2rem;
        
        .normal{
            font-size: 2rem;
            font-weight: 200;
            font-style: oblique;
        }
        .bigger{
            font-size: 3rem;
            font-weight: 400;     
        }
        .smaller{
            font-size:1.2rem;
            font-weight: 200;
            font-style: italic;
        }
        .medium{
          font-size:2.4rem;
          font-weight: 300;
        }
    }

.button-1 {
  
  background-color: rgba(12, 204, 204, 0.669);
  border-radius: 8px;
  border-style: none;
  color: $font-color-2;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 150px;
  line-height: 20px;
  outline: none;
  padding: 10px 16px;
  margin-top: 350px;
  margin-left: 25px;
  text-align: center;
  box-shadow: $box-shadow-1;
  border: 1px solid $font-color-2;
}
.button-1:hover{
  @include button-Style-2()
}
}

//om oss
 
.om-oss{
  text-align: center; 
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .button-1 {
  
    background-color: rgba(12, 204, 204, 0.669);
    border-radius: 8px;
    border-style: none;
    color: $font-color-2;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 150px;
    line-height: 20px;
    outline: none;
    padding: 10px 16px;
    
    text-align: center;
    box-shadow: $box-shadow-1;
    border: 1px solid $font-color-2;
  }
  .button-1:hover{
    @include button-Style-2()
  }
 
  

  .om-oss-title{
    
    
    p{
      text-align: left;
      padding:30px;
      color: $font-color-1;
       font-size: 1.3rem;
       margin-top: 20px;
       font-weight: 600;
       letter-spacing: 1px; 
    }
  }
 

  .om-oss-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap:10px;
    
   
    .om-oss-img{
      
      img{
        width:60%;
        max-width: 900px;
        border-radius: 100px;
      }
    }
    .om-oss-text{
    
     width: 100%;
     
     max-width: 700px;
     margin: 0 auto;
     border-radius: 25PX;
     padding: 30px;
      p{
        font-size: 0.9rem;
        text-align: left;
        color: #393838;
      }
    }
  }
  
}



.between-image{
 border: 1px solid black;
  
  img{
    width: 100%;
    height:auto;
  }
 
}
  
  //service  


  .service-title{
  
    text-align: center;
    align-items: center;
    margin-top: 60px;
    
   
    p{
     
     color: $font-color-1;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 3px;
      
      
    }
}
   
  .service-section {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    


   
    

    .service {
      
      background-color: $color-2;
      border-radius: 20px;
      padding: 20px;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:2px;
      @include button-Style();

      img{
        max-width: 160px;
        
      }
    
      h2{
        
        font-size: 1rem;
      }
      p{
        text-align: left;
        font-size: 0.8rem;
        color: #444040;
       padding:5px 20px;
      }
      button{
        background-color:rgb(176,136,202);
        border: none;
        border-radius: 10px;
        padding: 10px;
        width:130px;
        @include button-Style();
        margin-top: 10px;

        font-size:0.9rem;
        color: #fff;
        
    

      }
    }
  }

  
  

footer{
  background-color: rgb(95, 94, 94);
  height:200px;


.footer-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    padding-top:30px;
    padding-left: 40px;
    


    .logo-footer{
      
      
      img{
      
        max-width: 100px;
      }
    }
    
    .undersidan-footer{
     
      margin-top: 5px;
      

      ul{
        list-style: none;
       
        li{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 6px;
          
        }

        a{
          text-decoration: none;
          font-family: inherit;
          color: #000000;
          font-size: 0.9rem;
          
          font-family: 'Roboto', sans-serif;

        }
        
        
      }
      
    }
   

}
.text-footer{
  margin-top: 100px;
  text-align: center;
  margin: auto;
  
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  
}
}




//Media

@media screen and (min-width: 768px) {
  
  .content-nav {
    .toggler {
      display: none;
    }
    nav { 
      display: inline-block !important; /* prevent the nav to hide when resize */
      position: relative;
      max-width:70%;
      left: 260px;
      
      ul{
        max-width:500px;
        align-content: center;
       
        
        display: flex;
        justify-content: space-around;
        li{
          display: inline-block;
         
          text-align: center;
          padding:auto;
          width:120px;
          border-radius: 15px;
          @include button-Style();
          a{
            text-align: center;
            padding: auto;
            margin: auto;
            color: #fff;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  .service-title{
   
    p{
      font-size: 2.2rem;
     }
  }
  .service-section {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
 gap:10px;
    
   

    .service{
     
      max-width:300px;
     

      p{
        font-size: 0.8rem;
        
      }

    }
    
      img{
        max-width: 100%;
      }
    }
 
.om-oss{
 

 .om-oss-title{
   
   text-align: center;
   margin-top: 40px;
   p{
    font-size: 2.2rem;
   }
   
 }
 

  .om-oss-wrapper{
    padding: 10px;
   align-content: center;
   margin: auto;
    flex-direction: row;
    justify-content: space-around;
   
    

    .om-oss-img{
     
      width:70%;
      max-width: 700px;
      margin: auto;
      
    }
    .om-oss-text{
      
      width:70%;
      max-width: 500px;
      text-align: center;
      margin: auto;
      background-color: white;
      
      p{
        font-size:1.3rem;
        
      }
    }    
   
  }

}

}






  
  






