@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Barlow", sans-serif;
}

.container {
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}
.container .header {
  overflow: hidden;
  background-image: url(./images/pexels-jakub-zerdzicki-18538670.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  height: 100vh;
  width: 100%;
  /* START NAVIGATION */
  /* END NAVIGATION */
  /* CSS */
}
.container .header .content {
  padding: 0 20px;
  background-color: rgba(128, 128, 128, 0.34);
}
.container .header .content .logo {
  color: #5FC0DC;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
}
.container .header .content .toggler {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 50px;
}
.container .header .content .toggler button {
  background-color: transparent;
  border: none;
}
.container .header nav {
  width: 100%;
  display: none;
}
.container .header nav ul {
  list-style: none;
}
.container .header nav ul li a {
  text-decoration: none;
  color: #F2F2F2;
  font-size: 18px;
  line-height: 40px;
  transition: 0.3s ease-out;
}
.container .header nav ul li a:hover {
  color: #3eb7d8;
}
.container .header .active {
  color: #5FC0DC;
}
.container .header section {
  margin-top: 500px;
  text-align: center;
  font-size: 10px;
  color: #2F2F2F;
  margin-bottom: 20px;
}
.container .header section:after {
  content: "Jan/2018";
  font-size: 12px;
  font-weight: bold;
}
.container .header #info {
  padding-top: 200px;
  text-align: center;
  color: #5FC0DC;
}
.container .header h1 {
  color: #fff;
  position: absolute;
  margin-top: 60px;
  margin-left: 23px;
  font-size: 2rem;
}
.container .header h1 .normal {
  font-size: 2rem;
  font-weight: 200;
  font-style: oblique;
}
.container .header h1 .bigger {
  font-size: 3rem;
  font-weight: 400;
}
.container .header h1 .smaller {
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
}
.container .header h1 .medium {
  font-size: 2.4rem;
  font-weight: 300;
}
.container .header .button-1 {
  background-color: rgba(141, 77, 196, 0.6784313725);
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 150px;
  line-height: 20px;
  outline: none;
  padding: 10px 16px;
  margin-top: 350px;
  margin-left: 25px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}
.container .header .button-1:hover {
  background-color: rgba(162, 0, 255, 0.484);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.container .container-main {
  margin-top: 30px;
}
.container .container-main .om-oss-title {
  background-color: rgba(0, 255, 255, 0.203);
  width: 70%;
  border-radius: 20px;
  position: relative;
  left: 200px;
  height: 50px;
  margin-bottom: 20px;
}
.container .container-main .om-oss-title p {
  text-align: left;
  padding-left: 25px;
  padding-top: 9px;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.container .container-main .om-oss-wrapper {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}
.container .container-main .om-oss-wrapper .om-oss-img img {
  width: 90%;
  border-radius: 200px;
}
.container .container-main .om-oss-wrapper .om-oss-text {
  width: 80%;
  min-width: 50%;
}
.container .container-main .om-oss-wrapper .om-oss-text p {
  font-size: 1rem;
}
.container .container-main .service-title {
  background-color: rgba(198, 122, 249, 0.203);
  width: 70%;
  border-radius: 20px;
  position: relative;
  right: 100px;
  height: 50px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
.container .container-main .service-title p {
  text-align: right;
  padding-right: 25px;
  padding-top: 9px;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.container .container-main .service-wrapper {
  margin-top: 20px;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.container .container-main .service-wrapper .service-items {
  width: 40%;
  height: 150px;
  border-radius: 10px;
  background-color: rgba(194, 194, 194, 0.142);
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.container .container-main .service-wrapper .service-items:hover {
  background-color: rgba(245, 219, 115, 0.395);
}
.container .container-main .service-wrapper .service-items .service-text {
  text-align: center;
}
.container .container-main .service-wrapper .service-items img {
  height: 60%;
}
.container footer {
  background-color: darkgray;
  margin-top: 20px;
  height: 300px;
}
.container footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  padding: 10px;
  padding-left: 40px;
}
.container footer .footer-wrapper .logo-footer img {
  max-width: 100px;
}
.container footer .footer-wrapper .undersidan-footer {
  margin-top: 5px;
}
.container footer .footer-wrapper .undersidan-footer ul {
  list-style: none;
}
.container footer .footer-wrapper .undersidan-footer ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6px;
}
.container footer .footer-wrapper .undersidan-footer ul a {
  text-decoration: none;
  font-family: inherit;
  color: #000000;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}
.container footer .text-footer {
  margin-top: 100px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 872px) {
  .content {
    padding: 0 50px;
  }
  .toggler {
    display: none;
  }
  nav {
    display: inline-block !important; /* prevent the nav to hide when resize */
    position: relative;
    width: auto;
    float: right;
    padding: 5px 0;
  }
  nav ul {
    float: left;
  }
  nav ul li {
    display: inline-block;
    padding-right: 20px;
  }
  .side-nav {
    float: right;
  }
}/*# sourceMappingURL=style.css.map */