@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Barlow", sans-serif;
}

.container {
  width: 100%;
  margin: 0px auto;
}
.container .header {
  overflow: hidden;
  background-image: url(./images/pexels-jakub-zerdzicki-18538670.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  height: 100vh;
  width: 100%;
  /* START NAVIGATION */
  /* END NAVIGATION */
}
.container .header .content {
  padding: 10px 20px;
  background-color: rgba(176, 136, 202, 0.578);
  display: flex;
  justify-content: space-between;
}
.container .header .content .logo:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.container .header .content .toggler {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 50px;
}
.container .header .content .toggler button {
  background-color: transparent;
  border: none;
}
.container .header .content .toggler button:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.container .header nav {
  width: 100%;
  display: none;
}
.container .header nav ul {
  list-style: none;
}
.container .header nav li .active {
  color: rgba(254, 203, 1, 0.6);
  text-align: center;
}
.container .header nav li a {
  margin-left: 70px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.838);
  font-size: 18px;
  line-height: 40px;
  transition: 0.3s ease-out;
}
.container .header nav li:hover :hover {
  color: rgba(151, 251, 234, 0.562);
}
.container .header h1 {
  color: rgb(255, 255, 255);
  position: absolute;
  margin-top: 60px;
  margin-left: 23px;
  font-size: 2rem;
}
.container .header h1 .normal {
  font-size: 2rem;
  font-weight: 200;
  font-style: oblique;
}
.container .header h1 .bigger {
  font-size: 3rem;
  font-weight: 400;
}
.container .header h1 .smaller {
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
}
.container .header h1 .medium {
  font-size: 2.4rem;
  font-weight: 300;
}
.container .header .button-1 {
  background-color: rgba(176, 136, 202, 0.578);
  border-radius: 8px;
  border-style: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 150px;
  line-height: 20px;
  outline: none;
  padding: 10px 16px;
  margin-top: 300px;
  margin-left: 25px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(255, 255, 255);
}
.container .header .button-1:hover:hover {
  background-color: rgba(254, 203, 1, 0.6);
}
.container .container-main {
  text-align: center;
  align-items: center;
}
.container .container-main .om-oss-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.container .container-main .om-oss-wrapper .om-oss-title {
  text-align: center;
  font-family: sans-serif;
}
.container .container-main .om-oss-wrapper .om-oss-title p {
  color: rgba(0, 0, 0, 0.838);
  font-size: 1.6rem;
  text-align: center;
  padding: 6px;
}
.container .container-main .om-oss-wrapper .om-oss-img img {
  width: 60%;
  border-radius: 100px;
}
.container .container-main .om-oss-wrapper .om-oss-text {
  width: 70%;
  margin: 0 auto;
}
.container .container-main .om-oss-wrapper .om-oss-text p {
  font-size: 0.9rem;
  text-align: left;
}
.container .container-main .service-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(151, 251, 234, 0.562);
}
.container .container-main .service-section .service {
  border: 1px solid #ddd;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
}
.container .container-main .service-section .service:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.container .container-main .service-section .service h2 {
  margin-bottom: 5px;
}
.container .container-main .service-section .service p {
  text-align: left;
}
.container .container-main footer {
  background-color: darkgray;
  height: 200px;
}
.container .container-main footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  padding: 10px;
  padding-left: 40px;
}
.container .container-main footer .footer-wrapper .logo-footer img {
  max-width: 100px;
}
.container .container-main footer .footer-wrapper .undersidan-footer {
  margin-top: 5px;
}
.container .container-main footer .footer-wrapper .undersidan-footer ul {
  list-style: none;
}
.container .container-main footer .footer-wrapper .undersidan-footer ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6px;
}
.container .container-main footer .footer-wrapper .undersidan-footer ul a {
  text-decoration: none;
  font-family: inherit;
  color: #000000;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}
.container .container-main footer .text-footer {
  margin-top: 100px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 556px) {
  .container .content .toggler {
    display: none;
  }
  .container .content nav {
    display: inline-block !important; /* prevent the nav to hide when resize */
    position: relative;
    max-width: 70%;
    margin-left: 30px;
  }
  .container .content nav ul {
    display: flex;
    justify-content: space-around;
  }
  .container .content nav ul li {
    display: inline-block;
    text-align: center;
    padding: auto;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .container .content nav ul li a {
    text-align: center;
    padding: auto;
    margin: auto;
  }
  .container .service-section {
    flex-direction: row;
  }
  .container .service {
    flex: 1;
    margin: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */